*, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.title {
    padding-top: 2rem;
    font-size: 32px;
}

.home {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    display: none;
}

.declaration {
    margin-top: 1rem;
}

.code-example {
    background-color: #fff;
    margin: 1rem 0;
    .code {
        color: #333;
        margin-left: .5rem;
    }
}

.code-line {
    padding: .5rem 1rem;
    background-color: #DDD;
    color: #999;
}

.code-interaction {
    background-color: #fff;
    margin: 1rem 0;
}

.code-input {
    height: 33px;
    border: none;
}

.code-input:focus {
    outline: none;
}

.paragraph-description {
    margin-bottom: 2rem;
    text-align: center;
    p {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    ul {
        padding-bottom: 1rem;
    }
}

button {
    border-radius: 8px;
    border: none;
    padding: 1rem 2.5rem;
    color: white;
    background-color: #2F97C1;
    font-weight: bold;
}